In [2]:
import requests
import json
import overpy as opy
import pandas as pd
from bs4 import BeautifulSoup
from itertools import chain

Here will be using an example, to see the capabilites of what we can do with OSM data. I selected some vineyards in France

In [3]:
#How to access the overpass query interperter

api = opy.Overpass()
overpass_query = api.query("""
[bbox:44.453388800301774,-0.56304931640625,46.240651955001695,2.3345947265625]
[timeout:25]
;
(
  node["landuse"="vineyard"];
  way["landuse"="vineyard"];
  relation["landuse"="vineyard"];
);
out center;
""")

I'll also be adding a function that generates a query statement, based on a user defined bounding box

In [2]:
def overpass_query_constructor_bbox(min_lat, min_lon, max_lat, max_lon, key = 'landuse', value = 'vineyard', timeout = 25):

    '''
    Constructs a query using overpy. First a bounding box using a min_lat min_lon, max_lat and max long. and then you
    can select the catefory

        Parameters:
            min_lat (float): Minimum Latitude (WGS-84)
            min_lon (float): Minimum Longitude (WGS-84)
            max_lat (float): Maximum Latitude (WGS-84)
            max_lon (float): Maximum Longitude (WGS-84)
            key (str): Key for OSM category (ex: https://wiki.openstreetmap.org/wiki/Key:landuse)
            value (str): Value for OSM category
            timeout (int): Timeout for query (seconds), if your query is timeout might be a lot of data.


        Returns:
            query_creator (str): Query to run using the overpy api


    '''

    #constructs a query based on a key, value and you can set timeout also
    query_creator = """
    [bbox: {0}, {1}, {2}, {3}]
    [timeout:{4}]
    ;
    (
        node[{5} = {6}];
        way[{5} = {6}];
        relation[{5} = {6}];
    );
    out center;

    """.format(str(min_lat), str(min_lon), str(max_lat), str(max_lon), str(timeout), key, value)

    return query_creator

It might be useful to see what kind of values exist for specific keys as well. For that we will scrape OSM's wikipedia and
pull out the table from the values column

In [43]:
def view_values(key, base_url = "http://wiki.openstreetmap.org/wiki/Key:"):
    '''
    Scrape OSM data given a specific key. Returns a table containg, the key, value, element, description, and rendering

        Parameters:
            key (str): A key from OSM. Here is
            an example of the key landuse https://wiki.openstreetmap.org/wiki/Key:landuse


        Returns:
            final_table (str): Returns a table containing all of the different valuies, elements and descriptions.


    '''


    full_url = base_url + key
    #send a requests to the created URL
    response = requests.get(full_url)

    #instantiate our beautiful soup object
    soup = BeautifulSoup(response.text, 'html.parser')
    soup_response = soup.find('table', {'class':'wikitable'})

    #put into a table pandas table
    read_html = pd.read_html(str(soup_response))
    final_frame = pd.DataFrame(read_html[0])

    #filter so that the only key is the key that was passed in

    return final_frame

Now let's see the keys from the landuse value.

In [45]:
landuse_table = view_values('landuse')
landuse_table.head(3)

,Key,Value,Element,Description,Rendering,Photo,Unnamed: 6_level_0
,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land
0,landuse,commercial,NaN,Predominantly commercial businesses and their ...,NaN,NaN,NaN
1,landuse,construction,NaN,A site which is under active development and c...,NaN,NaN,NaN
2,landuse,education,NaN,An area predominately used for educational pur...,NaN,NaN,NaN

Okay now let's fix the naming of the columns and get rid of the photo and rending and the last column. You can see all of the values that fall under this key. You can change the function above to see different keys.

In [46]:
landuse_table_drop = landuse_table.iloc[:, 1:4]
landuse_table_drop.head()

,Value,Element,Description
,Common landuse key values - developed land,Common landuse key values - developed land,Common landuse key values - developed land
0,commercial,NaN,Predominantly commercial businesses and their ...
1,construction,NaN,A site which is under active development and c...
2,education,NaN,An area predominately used for educational pur...
3,industrial,NaN,Predominantly industrial landuses such as work...
4,residential,NaN,Land where people reside; predominantly reside...

Example Box
44.453388800301774,-0.56304931640625,46.240651955001695,2.3345947265625

In [51]:
the_query = overpass_query_constructor_bbox(44.453388800301774, -0.56304931640625, 46.240651955001695, 2.3345947265625, timeout = 30)
print(the_query)

    [bbox: 44.453388800301774, -0.56304931640625, 46.240651955001695, 2.3345947265625]
    [timeout:30]
    ;
    (
        node[landuse = vineyard];
        way[landuse = vineyard];
        relation[landuse = vineyard];
    );
    out center;

Let's now save all of the output from OSM into coordinates. For the ways and relations, we
are taking the center polygon.

In [4]:
node_coords = [(float(node.lon), float(node.lat)) 
           for node in overpass_query.nodes]

In [5]:
node_coords = [(float(node.lon), float(node.lat)) 
           for node in overpass_query.nodes]
way_coords = [(float(way.center_lon), float(way.center_lat)) 
           for way in overpass_query.ways]
relation_coords = [(float(rel.center_lon), float(rel.center_lat)) 
           for rel in overpass_query.relations]

Let's see what information we can get out of this using the overpy package

In [6]:
def metadata_info(result_overpass):

    coords = []

    print("Number of ways: ", len(overpass_query.ways))
    print("Number of nodes: ", len(overpass_query.nodes))
    print("Number of relations: ", len(overpass_query.relations))



metadata_info(overpass_query)

Number of ways:  10436
Number of nodes:  2
Number of relations:  460

In [7]:
overpass_query.nodes[0]

In [8]:
overpass_query.ways[0].id

25308659

In [9]:
print(overpass_query.ways[0].get_nodes(resolve_missing = True))

[<overpy.Node id=275673915 lat=45.8371811 lon=1.1282429>, <overpy.Node id=275673935 lat=45.8368817 lon=1.1325448>, <overpy.Node id=275673936 lat=45.8357616 lon=1.1319743>, <overpy.Node id=275673964 lat=45.8352961 lon=1.1306867>, <overpy.Node id=2156225512 lat=45.8365380 lon=1.1279466>, <overpy.Node id=275673915 lat=45.8371811 lon=1.1282429>]

In [36]:
overpass_query.ways[0].get_nodes(resolve_missing = True)[0]

Let's see the same thing except with some of the relations

In [10]:
print(overpass_query.relations[0].members)

[<overpy.RelationWay ref=326355422 role=outer>, <overpy.RelationWay ref=326360676 role=outer>, <overpy.RelationWay ref=326328889 role=outer>, <overpy.RelationWay ref=326382332 role=outer>, <overpy.RelationWay ref=326328887 role=outer>, <overpy.RelationWay ref=326240440 role=outer>, <overpy.RelationWay ref=41647159 role=outer>, <overpy.RelationWay ref=326356418 role=outer>, <overpy.RelationWay ref=327061500 role=outer>, <overpy.RelationWay ref=326355627 role=outer>, <overpy.RelationWay ref=326336181 role=outer>, <overpy.RelationWay ref=326329682 role=outer>, <overpy.RelationWay ref=326360675 role=outer>, <overpy.RelationWay ref=41647162 role=inner>, <overpy.RelationWay ref=41647163 role=inner>, <overpy.RelationWay ref=41647164 role=inner>]

In [11]:
print(overpass_query.relations[1].members[0])

<overpy.RelationWay ref=41647395 role=outer>

In [12]:
print(overpass_query.relations[1].members[1].resolve(resolve_missing = True))

<overpy.Way id=41647398 nodes=[511284551, 511284553, 511284556, 511284559, 511284561, 511284566, 511284568, 511284571, 511284574, 511284579, 511284582, 511284585, 511284606, 511284551]>

In [13]:
print(overpass_query.relations[1].members[1].resolve(resolve_missing = True).get_nodes(resolve_missing = True))

[<overpy.Node id=511284551 lat=45.2957196 lon=-0.5742611>, <overpy.Node id=511284553 lat=45.2963902 lon=-0.5740606>, <overpy.Node id=511284556 lat=45.2966443 lon=-0.5739994>, <overpy.Node id=511284559 lat=45.2970968 lon=-0.5754785>, <overpy.Node id=511284561 lat=45.2989639 lon=-0.5761570>, <overpy.Node id=511284566 lat=45.2997947 lon=-0.5804391>, <overpy.Node id=511284568 lat=45.2993153 lon=-0.5838307>, <overpy.Node id=511284571 lat=45.2985870 lon=-0.5835819>, <overpy.Node id=511284574 lat=45.2962429 lon=-0.5839311>, <overpy.Node id=511284579 lat=45.2957817 lon=-0.5761114>, <overpy.Node id=511284582 lat=45.2951633 lon=-0.5762590>, <overpy.Node id=511284585 lat=45.2948259 lon=-0.5746477>, <overpy.Node id=511284606 lat=45.2957218 lon=-0.5742980>, <overpy.Node id=511284551 lat=45.2957196 lon=-0.5742611>]

Using all of this above, we can iterate through all of the nodes and get the coords. We are also able to do this for the ways and relations. From the coordinates for this, we can iterate through all of the ways to get the nodes. From the nodes we can reconstruct the geomery and then finally
can creata shapefile for each of the shapes.

In [17]:
class OSMGeometries:

    def __init__(self, overpass_query):
        self.overpass_query = overpass_query
        

    def nodes_dataframe(self):
        #get a list of tuple for the coordinates in WGS 84  
        
        lon_node = []
        lat_node = []
        id_node = []

        for node in self.overpass_query.nodes:
            lon_node.append(float(node.lon))
            lat_node.append(float(node.lat))
            id_node.append(int(node.id))

        final_frame = pd.DataFrame({"lon": lon_node, "lat": lat_node, "node_id": id_node})

        return final_frame

    
    def ways_dataframe(self):

        lon_node = []
        lat_node = []
        id_node = []
        id_way = []

        #First for loop over the ways
        for way in self.overpass_query.ways:
            #create a list of all of the different ways 
            the_nodes = way.get_nodes(resolve_missing = True)
            way_id = way.id
            #second for loop loops over the nodes
            for node in the_nodes:
                lon_node.append(float(node.lon))
                lat_node.append(float(node.lat))
                id_node.append(int(node.id))
                id_way.append(way_id)

        final_frame = pd.DataFrame({"lon": lon_node, "lat": lat_node, "node_id": id_node, 'way_id': id_way})

    def relation_dataframe()

In [18]:
the_query = OSMGeometries(overpass_query)

In [20]:
node_test = the_query.nodes_dataframe()
node_test

        lon        lat          id
0  0.029843  45.496540  1590507069
1 -0.124944  44.801304  6647305399
2  1.128243  45.837181   275673915
3  1.132545  45.836882   275673935
4  1.131974  45.835762   275673936
5  1.130687  45.835296   275673964
6  1.127947  45.836538  2156225512

Let's construct an OSM class on top of this overpy wrapper so that we can extract any data we want given a bounding box or
we can even do it for districts or for other things.

In [ ]:
class OSM:

    def __init__()